.about-section {
  padding: 7rem 0;
  background: linear-gradient(to bottom, #ffffffb8, #ffffff00);
  overflow: hidden;
}

.about-image {
  position: relative;
  transform: perspective(1000px) rotateY(-5deg);
  transition: transform 0.6s ease-in-out;
}

.about-image:hover {
  transform: perspective(1000px) rotateY(0deg);
}

.about-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(13, 110, 253, 0.1), transparent);
  border-radius: 1rem;
}

.about-image img {
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.about-content {
  padding-left: 2rem;
}

.features-grid {
  /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
  margin-top: 1rem;
}

.feature-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(210, 210, 210, 0.556);
  transition: all 0.3s ease;
}

.feature-item:hover {
  background: rgb(255, 231, 144);
  transform: translateY(-3px);
}

.feature-icon {
  padding: 0.75rem;
  background: rgb(13, 255, 0);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.feature-text {
  flex: 1;
}

.feature-text h3 {
  color: #2b3035;
  font-weight: 600;
  margin: 0;
}

.feature-text p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 991.98px) {
  .about-section {
    padding: 4rem 0;
  }

  .about-content {
    padding-left: 0;
    margin-top: 2rem;
    text-align: center;
  }

  .p-mobile{
    font-size: 15px;
    display: none;
  }

  .h2-mobile {
    font-size: 20px;
  }

  .features-grid {
    /* grid-template-columns: 1fr;
    gap: 1.5rem; */
    display: none;
  }

  /* .feature-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */
}

@media (prefers-reduced-motion: reduce) {

  .about-image,
  .feature-item {
    transition: none;
    transform: none;
  }
}